---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Welcome to my meanderings</h2>
    <p>This a blog about code and data science.</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
